:root { -
	-rojo: #e50914; -
	-fondo: #141414;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(- -fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 30px 0;
}

/* added 21/06/09 */
header .carousel{
	height:600px;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .Logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(- -rojo);
	font-size: 40px;
}

header nav a {
	color: #aaa;
	text-decoration: none;
	/* margin-right: 20px; */
}

header nav a:hover, header nav a.activo {
	color: rgba(238, 12, 12, 0.801);
}

/*Trabjando con la peliculka principal*/
.pelicula-principal {
	font-size: 16px;
	min-height: 33.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .30) 50%, rgba(0, 0, 0, .10)
		100%);
/* 		100%), url(../img/bakdrop.jpg); */
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: flex-end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em,
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0, 0, 0, .5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-left: 1.25em;
	cursor: pointer;
	transition: .3s ease-in all;
	font-size: 1em;
}

.pelicula-principal .boton img {
	margin-right: 1em;
	margin-bottom: 1em;
}

.pelicula-principal .boton:hover {
	background: #e50914;
	color: #fff;
}

/***************PELICULAS RECOMENDADAS**********************/
/*Contenedor Titulo*/
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 20px;
	font-family: 'Mulish', sans-serif;
}

.contenedor-titulo-controles2 h3 {
	margin-top: -70px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
	.contenedor-titulo-controles .indicadores button.activo {
	background: #e50914;
}

/*contenedor principal fotos y flechas*/
.peliculas-recomendadas {
	margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
	margin-top: -15px;
}

/* 이미지 좌우 이동 */
.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
	.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background-color: #1fe0;
	/* background: rgba(255, 255, 255, 0.3); */
	font-size: 40px;
	height: 100%;/* height */
/* 	height: 30px; */
	width: 8%;/* weight */
	/* width: 30px; */
	/* border-radius: 50%; */
	/* top: calc(60% - 25%); */
	line-height: 40px;
	color: #000;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
	.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba( 255, 255, 255, 0.7 );
/* 	background: rgba(255, 43, 43, 0.3); */
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/***************TRABAJANDO CARRUSEL*********/
.peliculas-recomendadas .contenedor-carrusel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carrusel2 {
	/* margin-top: -35px; */
	height: 100%; /* height */ /* 21/05/29 added css */
}


/* 21/05/29 added css */
.thumbnail{
      background-color:gray;
      margin:10px;
      width:200px;
      height:550px; /* changed 21/06/09 */
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .thumbnail.round{
     /*  border-radius: 10%; */
    }
    
    
    .list_img {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
/*     border-radius: 5px;
 */}

.main_img{
      background-color:gray;
      /* margin:100px; */
     /*  margin:0 25%; changed 21/06/09 */
      width:100%;
      height:100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .list_main_img {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
/*     border-radius: 5px;
 */}
    
/*  */


.peliculas-recomendadas .contenedor-carrusel .carrusel {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carrusel .carrusel .pelicula {
	min-width: 25%;/* 이미지 min width */
	transition: .3s ease all;
/* 	box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
 */}

.peliculas-recomendadas .contenedor-carrusel .carrusel .pelicula.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carrusel .carrusel .pelicula img {
	width: 100%;
	vertical-align: top;
}

.contenedor-pie-de-pagina {
	margin-bottom: 40px;
	margin-top: -35px;
	justify-content: center;
	font-size: 15px;
	display: flex;
}

.contenedor-pie-de-pagina a {
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	padding: 0 30px;
}

.contenedor-pie-de-pagina a:hover {
	color: rgba(240, 39, 39, 0.945);
}

/*****************RESPONSIVE*******************************/
@media screen and (max-width: 630px) {
	header .Logotipo {
		margin-bottom: 10px;
	}
	header .contenedor {
		flex-direction: column;
		text-align: center;
	}
	.pelicula-principal {
		font-size: 12px;
	}
	.pelicula-principal .descripcion {
		max-width: 100%;
	}
	.peliculas-recomendadas .contenedor-carrusel {
		overflow: visible;
	}
	.peliculas-recomendadas .contenedor-carrusel .carrusel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}
	.peliculas-recomendadas .indicadores, .peliculas-recomendadas .flecha-izquierda,
		.peliculas-recomendadas .flecha-derecha {
		display: none;
	}
	
	/* @@@@@@@@@@@@@@@@@ added 21/05/29 */
	
	/* @@@@@@@@@@@@@@@@@ added 21/06/09 */
	
	
	/* @@@@@@@@@@@@@@@@@ added 21/06/09 */
	
}