<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.mall.board.serviceImpl.ReplyMapper">

<select id="list" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select *
		from
		tbl_reply
		where bno=#{no} and B_TYPE=#{B_TYPE}
</select>

<insert id="write" parameterType="java.util.HashMap">
<selectKey resultType="int" keyProperty="rno" order="BEFORE">
		SELECT COALESCE(MAX(rno),0)+1 AS rno FROM tbl_reply
</selectKey> 
	insert into tbl_reply (
			rno
			, bno
			, writer
			, content
			, regDate
			, B_TYPE
		)
   		values (
	   		#{rno}
	   		, #{bno}
	   		, #{writer} 
	   		, #{content}
	   		, NOW()
	   		, #{B_TYPE}
   		)
</insert>

<update id="updateItem" parameterType="java.util.HashMap">
	update tbl_reply 
	set 
		gdsNum=#{content},
		B_TYPE=#{B_TYPE}
	where rno=#{rno} and bno=#{bno} and writer=#{writer} and B_TYPE=#{B_TYPE}
</update>

<delete id="delete" parameterType="java.util.HashMap">
	delete from tbl_reply 
	where rno=#{rno} and bno=#{bno} and B_TYPE=#{B_TYPE}
</delete>

</mapper>