<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.mall.user.UserMapper">

	<insert id="register">
		insert into member(
		ID
		,PW
		)
		values(
		#{ID,jdbcType=VARCHAR}
		,#{PW,jdbcType=VARCHAR}
		)
	</insert>

	<insert id="updateUser">
		update member
		set
			ID = #{ID}
			, PW = #{PW}
			, NAME = #{NAME}
			, ADDRESS = #{ADDRESS}
			, CONTACT = #{CONTACT}
			, PHONE = #{PHONE}
			, EMAIL = #{EMAIL}
		where ID=#{ID}
	</insert>
	
	<insert id="insertMember" parameterType="map">
		insert into member(
			ID
			, PW
			, NAME
			, ADDRESS
			, CONTACT
			, PHONE
			, EMAIL
			, INPUT_DT
		) values(
			#{ID}
			, #{PW}
			, #{NAME}
			, #{ADDRESS}
			, #{CONTACT}
			, #{PHONE}
			, #{EMAIL}
			, NOW()
		)
		
	</insert>

	<select id="login" parameterType="map" resultType="java.util.Map">
		SELECT
		*
		FROM member
		WHERE ID = #{ID} and PW=#{PW}
	</select>

	<update id="keepLogin" parameterType="map">
		UPDATE member
		SET SESSION_KEY = #{sessionId}
		,
		SESSION_LIMIT = #{sessionLimit}
		WHERE ID = #{ID}
	</update>
	
	<select id="checkUserWithSessionKey" resultType="java.util.Map">
		SELECT
		*
		FROM member
		WHERE SESSION_KEY = #{value}
	</select>
	
	<select id="memberInfo" parameterType="map" resultType="java.util.Map">
		SELECT
		*
		FROM member
		WHERE ID = #{ID}
	</select>
</mapper>